* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/subtle_grunge.png);
    color: #777777;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 0;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    color: #4aaaa5
}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 22px;
}

/*Header*/
#masthead {
    width: 100%;
    margin: 0 0 30px;
    background-color: #ffffff;
    border-bottom: solid 2px #cccccc;
    z-index: 99;
    color: #ffffff;
    overflow: auto; 
    position: fixed;
}

#logo {
    width: 325px;
    height: 90px;
    background-color: #4aaaa5;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color: #777777;
    font-size: 14px;
    border-left: 1px solid #cccccc;
    padding-left: 15px;
    line-height: 18px;
}
nav a:first-child {
    border-left: 0 none;
}

a:hover {
    color: rgb(212, 37, 119);
}

/*Index*/
#main-container {
    padding-top: 130px;
}
.main-section {
    background: #ffffff;
    border: solid 1px #cccccc;
    margin: 0px 0px 40px 0px;
    padding: 30px;
    width: 100%;
    max-width: 960px;
    float: left;
}

.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}


/*Footer*/
footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    color:#ffffff;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
}


/*Portfolio*/
.work {
    width: 275px;
    margin: 20px 0px 25px;
    overflow: auto;
    position: relative;
    float: left;
}
 .work:nth-child(even) {
     margin-right: 40px;
 }

 .work img {
     width: 100%;
     border: 0 none;
     opacity: .8;
}

.work h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

.thumb {
    width: 275px;
    height: 250px;
}

/*Begin Contact*/
#contact-form ul {
    margin-bottom: 20px;
    list-style-type: none;
}

#contact-form li {
    margin-bottom: 10px;
    text-decoration: none;
}

label, input[type=text], input [type=email], textarea {
    display: block;
    width: 100%;
}

input[type=text], input [type=email], textarea {
    height: 35px;
    border: 1px solid #cccccc;
    padding: 0 10px;
    font-size: 14px;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: 0 none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

@media only screen and (max-width: 980px) {

    .container {
        padding: 0 20px;
        max-width: 768px;
    }


    #main-container {
        padding-top: 130px;
    }

    .main-section {
        max-width: 480px;
    }

    .work {
        width: 47%;
        margin-bottom: 10px;
    }

    .work:nth-child(even) {
        margin-right: 0;
    }

    .work:nth-child(odd) {
        float: right;
    }

    .auth-image {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    .main-section {
        max-width: 100%;
    }

    #main-container {
        overflow: auto;
    }

    .work {
        width: 47%;
        margin-bottom: 10px;
    }

    .work:nth-child(even) {
        margin-right: 0;
    }

    .work:nth-child(odd) {
        float: right;
    }

    .auth-image {
        width: 50%;
    }
}

@media only screen and (max-width: 640px){
    .container {
        padding: 0;
    }

    #masthead {
        position: static;
        margin-bottom: 20px;
    }

    #logo, .work, .auth-image {
        width: 100%;
    }

    #main-container {
        padding-top: 0;
    }

    nav {
        text-align: center;
        width: 100%;
        margin: 15px 0;
    }

    nav a {
        width: 30%;
        padding-left: 0;
        margin-left: 0;
    }
}
